---
apiVersion: v1
kind: Namespace
metadata:
  name: gitops-apps
  labels:
    #argocd.argoproj.io/managed-by: openshift-gitops
    #argocd.argoproj.io/managed-by: ocp-gitops  
---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:  
  name: master-app
  namespace: ocp-gitops
  #namespace: openshift-gitops
  labels:
    appgrp: master-app
    owner: gsb
  #finalizers:
  #- resources-finalizer.argocd.argoproj.io
spec:
  destinations:
    - namespace: gitops-apps      
      server: 'https://kubernetes.default.svc'
  sourceRepos:
    - 'https://gsbraman.github.io/stp/'
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:  
  name: master-app
  namespace: ocp-gitops
  #namespace: openshift-gitops
  labels:
    appgrp: demo-app
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  #project: default
  project: gitops-apps
  destination:    
    server: https://kubernetes.default.svc  
  source:
    directory:
      recurse: true
    path: gitops/apps
    repoURL: https://github.com/gsbraman/stp
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true